{% extends "base/base.html" %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<div class="container">
  <h1>Online Course</h1>
    <h3>About us:</h3>
  <blockquote>
    <p>Online courses are the modern version of courses: you can create and share learning content in an organized way
        that allows users to progress in their understanding of a certain topic. It consists basically on a curriculum,
        or study plan, organized in units. Online courses can include videos, images, text and hyperlinks.
        You can share them easily with a link or send an invitation email to the users.</p>
    <footer>From Admin</footer>
  </blockquote>
</div>
{% include 'base/footer.html' %}
</body>
</html>
{% endblock %}
